<p>
  <strong><%= @question.body %></strong>
</p>

<%= link_to 'Новый ответ', new_question_answer_path(@question) %>

<p>
  <strong>Варианты ответов:</strong>
</p>

<ol>
  <%= render @question.answers %>
</ol>


<%= link_to 'Назад к тесту', test_path(@question.test) %>
