<% if resource.present? && resource.errors.any? %>
  <%= content_tag :div, class: 'alert alert-primary resource-errors', data: { resource_id: resource.id } do %>
    <h2>
      <%= t('.header', count: resource.errors.count) %>
    </h2>

    <ol>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  <% end %>
<% end %>
