<% if resource.errors.present? %>
  <div>
    <h2>
      <%= t('.header', count: resource.errors.count) %>
    </h2>
    <ol>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </div>
<% end %>
