<% if flash.present? %>
<div class="alert alert-primary" role="alert">
  <% flash.each do |key, message| %>
    <%= content_tag :p, message.html_safe, class: "flash #{key}" %>
  <% end %>  
</div>
<% end %>
