<li><%= question.body %>
  <%= link_to 'Показать', admin_question_path(question) %>
  <%= link_to 'Редактировать', edit_admin_question_path(question) %>
  <%= link_to 'Удалить',
      admin_question_path(question),
      method: :delete,
      data: { confirm: 'Вы уверены?' } %>
</li>  
