<h1>Список тестов</h1>

<table>
  <tr>
    <th>Название</th>
    <th>Уровень</th>
    <th>Количество вопросов</th>
  </tr>

  <% @tests.each do |test| %>
    <tr>
      <td><%= link_to test.title, test_path(test) %></td>
      <td><%= test.level %></td>
      <td><%= test.questions.count %></td>
    </tr>
  <% end %>
</table>
