<p><%= current_year %>, Дубровский Виталий</p>

<p><%= github_url('vitodub', 'TestGuru') %>, веб-приложение для создания и прохождения тестов по различным тематикам</p>

<p>Учебный проект в онлайн-школе <a href="http://thinknetica.com/" target="_blank">Thinknetica</a></p>
