<p><%= current_year %>, Dubrovskiy Vitaliy</p>

<p><%= github_url('vitodub', 'TestGuru') %>, web application for creating and passing tests on various topics</p>

<p>Educational project in an online school <a href="http://thinknetica.com/" target="_blank">Thinknetica</a></p>
